.recentHeader{
position: relative;
font-size: 15px;
background: linear-gradient(45deg,rgba(255,101,165,1) 0,rgba(255,101,165,1) 13%,rgba(255,107,154,1) 35%,rgba(255,134,106,1) 100%);
color: #fff;
font-weight: 500;
line-height: 15px;
text-transform: uppercase;
padding: 15px 20px;
box-sizing: border-box;
border-radius: 4px;
margin: 0;
box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
